<nav class="nav">
  <a href="/" class="nav__brand">
    <span class="nav__mark">&pi;</span>
    <span class="nav__name">Dragon's Egg</span>
  </a>
  <div class="nav__links">
    <!-- The four surfaces of the one image (current tab auto-detected). -->
    <dregg-image-nav></dregg-image-nav>
    <a class="nav__link" href="/usecases.html">Use Cases</a>
    <a class="nav__link" href="/apps.html">Apps</a>
    <a class="nav__link" href="/starbridge/">Starbridge</a>
    <a class="nav__link" href="/paper.html">Paper</a>
    <a class="nav__link" href="/demo.html">Demo</a>
    <a class="nav__link" href="https://github.com/emberian/dregg">GitHub</a>
  </div>
</nav>
